node_modules
apps/**/Dockerfile
docker-compose*
compose*
.dockerignore
.git
.gitignore
README.md
LICENSE
.vscode
Makefile
helm-charts
.env
.editorconfig
.idea
coverage*
.nx
.angular
dist
tmp
